# Base URL for the API
VITE_API_BASE_URL=http://127.0.0.1:5173/api

# Proxy URL only used in development mode
# The Vite dev server will proxy requests to this URL
VITE_API_PROXY_TARGET=http://127.0.0.1:3000
