.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2rem;
    padding-bottom: 4rem;
}

.title {
    margin-bottom: 1.6rem;
}

.backToHome {
    margin-top: 2.4rem;
    border: 1px solid #ed3a3a;
    padding: 0.8rem 1.2rem;
}
