@use "@styles/mixins/responsive";
@use "@styles/variables/breakpoints";

$footer-max-width: breakpoints.$desktop-max-width;

.footerWrapper {
    background-color: var(--clr-footer-bg);
}

.footer {
    margin: 0 auto;
    max-width: $footer-max-width;
    padding: 5rem 0 10rem;

    address {
        font-style: normal;
    }

    @include responsive.media-tablet {
        margin-left: breakpoints.$tablet-horizontal-space;
        margin-right: breakpoints.$tablet-horizontal-space;
    }

    @include responsive.media-mobile {
        margin-left: breakpoints.$mobile-horizontal-space;
        margin-right: breakpoints.$mobile-horizontal-space;
    }
}

.contents {
    display: flex;
    gap: 4rem;

    margin-bottom: 5rem;

    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 300;
    color: var(--clr-footer-txt);

    a {
        &:hover {
            text-decoration: underline;
            color: var(--clr-footer-txt-link);
        }
    }

    ul {
        list-style: none;

        & > li:first-child {
            margin-bottom: 0.5rem;

            font-weight: 500;
            color: var(--clr-footer-txt-title);
        }
    }

    @include responsive.media-mobile {
        flex-direction: column;
        gap: 2rem;
    }
}

.copyright {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--clr-footer-txt-title);
}

.address {
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;

    font-size: 1.3rem;
    line-height: 2rem;
    color: var(--clr-footer-txt-caption);
}

.socialProfiles {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    list-style: none;

    a {
        opacity: 0.7;

        transition: opacity .2s ease;

        &:hover {
            opacity: 1;
        }
    }

    svg {
        display: block;

        width: 2.4rem;
        height: 2.4rem;

        fill: var(--clr-footer-social-icon);
    }
}
