$black: #000;
$white: #fff;

$gray50: #f9fafb;
$gray100: #f2f4f6;
$gray200: #e5e8eb;
$gray300: #d1d6db;
$gray400: #b0b8c1;
$gray500: #8b95a1;
$gray600: #6b7684;
$gray700: #4e5968;
$gray800: #333d4b;
$gray900: #191f28;

$inverseGray50: #202027;
$inverseGray100: #2c2c35;
$inverseGray200: #3c3c47;
$inverseGray300: #4d4d59;
$inverseGray400: #62626d;
$inverseGray500: #7e7e87;
$inverseGray600: #9e9ea4;
$inverseGray700: #c3c3c6;
$inverseGray800: #e4e4e5;
$inverseGray900: #fff;
