$black: #000;
$white: #fff;

$gray50: #f9fafb;
$gray100: #f2f4f6;
$gray200: #e5e8eb;
$gray300: #d1d6db;
$gray400: #b0b8c1;
$gray500: #8b95a1;
$gray600: #6b7684;
$gray700: #4e5968;
$gray800: #333d4b;
$gray900: #191f28;

$inverseGray50: #202027;
$inverseGray100: #2c2c35;
$inverseGray200: #3c3c47;
$inverseGray300: #4d4d59;
$inverseGray400: #62626d;
$inverseGray500: #7e7e87;
$inverseGray600: #9e9ea4;
$inverseGray700: #c3c3c6;
$inverseGray800: #e4e4e5;
$inverseGray900: #fff;

$grayOpacity50: rgb(0 23 51 / 0.02);
$grayOpacity100: rgb(2 32 71 / 0.05);
$grayOpacity200: rgb(0 27 55 / 0.1);
$grayOpacity300: rgb(0 29 58 / 0.18);
$grayOpacity400: rgb(0 25 54 / 0.31);
$grayOpacity500: rgb(3 24 50 / 0.46);
$grayOpacity600: rgb(0 19 43 / 0.58);
$grayOpacity700: rgb(3 18 40 / 0.7);
$grayOpacity800: rgb(0 12 30 / 0.8);
$grayOpacity900: rgb(2 9 19 / 0.91);

$whiteOpacity50: rgb(209 209 253 / 0.05);
$whiteOpacity100: rgb(217 217 255 / 0.11);
$whiteOpacity200: rgb(222 222 255 / 0.19);
$whiteOpacity300: rgb(224 224 255 / 0.27);
$whiteOpacity400: rgb(232 232 253 / 0.36);
$whiteOpacity500: rgb(242 242 255 / 0.47);
$whiteOpacity600: rgb(248 248 255 / 0.6);
$whiteOpacity700: rgb(253 253 255 / 0.75);
$whiteOpacity800: rgb(253 253 254 / 0.89);
$whiteOpacity900: #fff;

$blue50: #e8f3ff;
$blue100: #c9e2ff;
$blue200: #90c2ff;
$blue300: #64a8ff;
$blue400: #4593fc;
$blue500: #3182f6;
$blue600: #2272eb;
$blue700: #1b64da;
$blue800: #1957c2;
$blue900: #194aa6;

$inverseBlue50: #202c4d;
$inverseBlue100: #23386a;
$inverseBlue200: #25478c;
$inverseBlue300: #265ab3;
$inverseBlue400: #2970d9;
$inverseBlue500: #3485fa;
$inverseBlue600: #449bff;
$inverseBlue700: #61b0ff;
$inverseBlue800: #8fcdff;
$inverseBlue900: #c8e7ff;
