@use "colors";

@media (prefers-color-scheme: dark) {
    :root {
        --clr-bg: #{colors.$inverseGray50};

        --clr-txt: #{colors.$inverseGray700};
        --clr-txt-title: #{colors.$inverseGray800};

        --clr-header-bg: #{colors.$inverseGray50};

        --clr-footer-bg: #{colors.$inverseGray100};
        --clr-footer-txt: #{colors.$inverseGray600};
        --clr-footer-txt-title: #{colors.$inverseGray800};
        --clr-footer-txt-caption: #{colors.$inverseGray500};
        --clr-footer-txt-link: #{colors.$inverseBlue500};
    }

    html {
        color-scheme: dark;
    }
}
