@use "colors";

:root {
    --clr-bg: #{colors.$white};

    --clr-txt: #{colors.$gray700};
    --clr-txt-title: #{colors.$gray800};

    --clr-header-bg: #{colors.$white};

    --clr-footer-bg: #{colors.$gray50};
    --clr-footer-txt: #{colors.$gray600};
    --clr-footer-txt-title: #{colors.$gray800};
    --clr-footer-txt-caption: #{colors.$gray500};
    --clr-footer-txt-link: #{colors.$blue500};
    --clr-footer-social-icon: #{colors.$gray500}
}
