@use "@styles/mixins/responsive";
@use "@styles/variables/breakpoints";

.responsiveWrapper {
    margin: 0 auto;
    max-width: breakpoints.$desktop-max-width;

    @include responsive.media-tablet {
        margin: 0 breakpoints.$tablet-horizontal-space;
    }

    @include responsive.media-mobile {
        margin: 0 breakpoints.$mobile-horizontal-space;
    }
}
